/* add your CSS here */

body {
    background: whitesmoke;
}

.card {
    background: white;
    border: 1px solid lightgrey;
    padding: 15px;
    box-shadow: 5px 5px 5px lightgrey;
    width: 300px;
    margin: 0 auto;
}

.card-inner {
    border: 1px solid lightgrey;
    padding: 0 15px;
    margin-top: 15px;
}

img {
    /* max-height: 300px; */
    width: 100%;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

li span {
    font-weight: bold;
}